body {
  background-color: gray;
  text-align: center;
}

.home, .gallery, .create, .edit {
  margin-top: 100px;
  align-items: center;
}

.home-img {
  max-width: 500px;
}

.crewmate-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust the alignment as needed */
}

.crewmate-card {
  width: calc(25% - 10px); /* 25% width to fit 4 cards in a row with 10px margin between them */
  margin: 5px; /* Add margin to separate the cards */
  border: 1px solid #ccc; /* Add a border for better separation */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
  text-align: center; /* Center the content inside the cards */
}

.crewmate-cards img {
  width: 50%;
}

.crewmate-card a {
  margin-right: 10px;
  text-decoration: none;
}

.edit-button, .delete-button {
  width: 100px; /* Set the desired width for the buttons */
  height: 30px; /* Set the desired height for the buttons */
  display: inline-block; /* Ensure they appear side by side */
  text-align: center;
  line-height: 40px; /* Vertically center the text within the button */
  background-color: #007bff; /* Customize the background color as needed */
  color: #fff; /* Customize the text color as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Add some spacing between the buttons */
  text-decoration: none; /* Remove the default link underline */
}

.crewmate-card button:hover {
  background-color: darkred;
}

.edit-button:hover{
  background-color: blue;
}

.nav {
  font-size: larger;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    background-color: #333;
    color: #fff;
    padding: 0px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.links li {
  margin-right: 20px;
}

.links a {
  color: #fff; /* Set your desired text color */
  text-decoration: none;
}

.links img {
  margin: 0;
  padding: 0;
  width: 50px;
  float: right;
}
